@model IndexViewModel

@{
    ViewData["Title"] = "Новости";
}

<div class="card-columns" style="margin-left:0px;">

    @foreach (var news in Model.News)
    {
        <div class="card col-md-12">
            <img src="~/images/fon.jpg" class="card-img-top" alt="image">
            <div class="card-body">
                <h4 class="card-title">@news.Title</h4>
                <p class="card-text">@news.Description</p>
                <p class="card-text"><small class="text-muted">Последнее изменение @news.DatePublication.ToLongDateString() @news.DatePublication.ToShortTimeString()</small></p>
                <a asp-controller="Home" asp-action="ReadMore" asp-route-id="@news.Id" class="btn btn-primary">Читать больше...</a>
            </div>
        </div>
    }

</div>

<nav class="navbar navbar-expand-md ">
    <ul class="pagination mx-auto order-0">
        <li class="page-item">
            <a class="page-link" asp-action="Index" asp-controller="Home" asp-route-page="1">В начало</a>
        </li>
        @if (Model.PageViewModel.HasPreviousPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-controller="Home" asp-route-page="@(Model.PageViewModel.PageNumber - 1)">Предыдущая</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a class="page-link" asp-action="Index" asp-controller="Home" asp-route-page="@(Model.PageViewModel.PageNumber - 1)" aria-disabled="true">Предыдущая</a>
            </li>

        }
        @for (var i = Model.PageViewModel.PageNumber > 1 ? Model.PageViewModel.PageNumber - 1 : 1; 
            i <= (Model.PageViewModel.PageNumber < Model.PageViewModel.TotalPages ? Model.PageViewModel.PageNumber + 1 : Model.PageViewModel.TotalPages); i++)
        {
            <li class="page-item @(i == Model.PageViewModel.PageNumber ? "active" : "")">
                <a asp-action="Index" asp-controller="Home" asp-route-page="@i" class="page-link">@i</a>
            </li>
        }
        @if (Model.PageViewModel.HasNextPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-controller="Home" asp-route-page="@(Model.PageViewModel.PageNumber + 1)">Следующая</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a class="page-link" asp-action="Index" asp-controller="Home" asp-route-page="@(Model.PageViewModel.PageNumber + 1)" aria-disabled="true">Следующая</a>
            </li>
        }
        <li class="page-item">
            <a class="page-link" asp-action="Index" asp-controller="Home" asp-route-page="@Model.PageViewModel.TotalPages">В конец</a>
        </li>
    </ul>
</nav>