@model Good_news_Blog.Data.News
@{
    ViewData["Title"] = Model.Title;
}

<div class="card" style="margin: 15px;">
    <img src="~/images/fon.jpg" class="card-img-top" height="500" alt="image">
    <div class="card-body">
        <div class="row">
            <h3 class="card-title col-md-11">@Model.Title</h3>
            <span class="fas fa-star" style="font-size:2em;"> @Model.IndexOfPositive</span>
        </div>
        <p class="card-text">@Model.Text</p>
        <p class="card-text text-info">Source: <a href="@Model.Source">@Model.Source</a></p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>

<form class="col" style=margin-top: 15px;">
    <span class="badge badge-secondary" style="margin-top:10px; margin-bottom:10px; font-size:30px;">Comments</span>
    <textarea class="form-control" name="textComment" rows="6" style="resize: none" placeholder="Write your comment here..."></textarea>
    <div class="container text-right">
        <button type="submit" class="btn btn-primary col-md-2" style="margin-top:10px; margin-bottom:10px; font-size: 20px;">Send</button>
    </div>
</form>

