@using System.Security.Claims
@model NewsViewModel

@{
    string GetTime(DateTime time)
    {
        const int SECOND = 1;
        const int MINUTE = 60 * SECOND;
        const int HOUR = 60 * MINUTE;
        const int DAY = 24 * HOUR;
        const int MONTH = 30 * DAY;

        var ts = new TimeSpan(DateTime.UtcNow.Ticks - time.Ticks);
        double delta = Math.Abs(ts.TotalSeconds);

        if (delta < 1 * MINUTE)
        {
            return ts.Seconds == 1 ? "one second ago" : ts.Seconds + " seconds ago";
        }

        if (delta < 2 * MINUTE)
        {
            return "a minute ago";
        }

        if (delta < 60 * MINUTE)
        {
            return ts.Minutes + " minutes ago";
        }

        if (delta < 120 * MINUTE)
        {
            return "an hour ago";
        }

        if (delta < 24 * HOUR)
        {
            return ts.Hours + " hours ago";
        }

        if (delta < 48 * HOUR)
        {
            return "yesterday";
        }

        if (delta < 30 * DAY)
        {
            return ts.Days + " days ago";
        }

        if (delta < 12 * MONTH)
        {
            int months = Convert.ToInt32(Math.Floor((double)ts.Days / 30));
            return months <= 1 ? "one month ago" : months + " months ago";
        }
        else
        {
            int years = Convert.ToInt32(Math.Floor((double)ts.Days / 365));
            return years <= 1 ? "one year ago" : years + " years ago";
        }
    }

}

<div class="container" id="partialComments">
    <span class="badge badge-secondary" style="margin-top:10px; margin-bottom:10px; font-size:30px;">Комментарии</span>
    <div class="container" id="commentContainer">
        @if (Model.Comments.Any())
        {
            @foreach (var comment in Model.Comments)
            {
                <div id="@comment.Id" class="card m-1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" />
                                <p class="text-secondary text-center">@GetTime(comment.PubDateTime)</p>
                            </div>
                            <div class="col-md-10">
                                <h3>
                                    <p class="float-left"><strong>@comment.Author.UserName</strong></p>
                                    <span class="float-right"><i class="text-warning fas fa-thumbs-down"></i></span>
                                    <span class="float-right" style="padding-left: 15px; padding-right: 5px;">@comment.CountDislikes</span>
                                    <span class="float-right"><i class="text-warning fas fa-thumbs-up"></i></span>
                                    <span class="float-right" style="padding-right: 5px;">@comment.CountLikes</span>
                                </h3>
                                <div class="clearfix"></div>
                                <p>@comment.Text</p>
                                <p>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        @if (User.IsInRole("admin") || User.FindFirst(ClaimTypes.NameIdentifier).Value == comment.Author.Id)
                                        {
                                            <button id="@comment.Id" class="float-right btn text-white btn-danger btn-delete-comment ml-2">Delete</button>
                                        }
                                        <a class="float-right btn text-white btn-danger ml-2"> <i class="fa fa-thumbs-down"></i> Dislike</a>
                                        <a class="float-right btn text-white btn-primary"> <i class="fas fa-thumbs-up"></i> Like</a>
                                    }
                                </p>
                            </div>
                        </div>
                        @*<div class="card card-inner">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" />
                                            <p class="text-secondary text-center">15 Minutes Ago</p>
                                        </div>
                                        <div class="col-md-10">
                                            <p><strong>Maniruzzaman Akash</strong></p>
                                            <p>Lorem Ipsum is simply dummy text of the pr make  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                            <p>
                                                <a class="float-right btn text-white btn-danger ml-2">  <i class="fa fa-thumbs-down"></i> Dislike</a>
                                                <a class="float-right btn text-white btn-primary"> <i class="fa fa-thumbs-up"></i> Like</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
            }
        }
    </div>
</div>


<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>

<script>
    $(document).ready(function () {
        $('.btn-delete-comment').click(
            deleteComment
        )
    });

    function deleteComment() {

        var idComment = $(this).attr("id");

        $.post({
            url: "/comment/deleteComment",
            data: JSON.stringify(idComment),
            contentType: "application/json",
            success: function (result) {
                $('div#' + idComment).slideToggle(1000);
            },
            error: errorFunc
        });
    };

    function errorFunc(errorData) {
        alert('Ошибка' + errorData.responseText);
    };

</script>